.columna1 .barra .icono {
    background-color: #fff;
    color: #2F80ED;
}

.foto-box {
  background-color: #2F80ED;
}

.columna1 {
 background-color: #2F80ED; 
}

.barra .icono {
  background-color: #2F80ED;
}

.columna1 .seccion {
  color: #fff;
}
